@{
    ViewData["Title"] = "Home Page";
}
@model List<TblJob>

<!-- Job Cards -->
@foreach (var job in Model)
{
                <div class="job-card">
                    <div class="job-info">
                        <h2 class="job-title">@job.SJobName</h2>
                        <p class="company-name">@job.IEmployerId</p>
                        <p class="job-location"><i class="bi bi-geo-alt"></i> @job.FSalary</p>
                        <p class="job-description">
                @job.SDetail
                        </p>
                    </div>
                    <div class="job-action">
                        <a href="@Url.Action("JobDetails", "Jobs", new { id = job.IJobId })" class="btn job-btn">View Details</a>
                    </div>
                </div>
}
